body {
	margin: 0;
	padding: 0;
	
	list-style: none;
	font-family: Arial;
}

section {
	height: 100vh;
	background-color: #666;
	position: relative;
/*	margin-top: -20px;*/
}

.sect_1 {
	background-image: url(CRdesk1.jpg);
	background-size: cover;
}

.sect_2 {
	background-image: url(chwck2.jpg);
	background-size: cover;
}

.text {
	color: white;
	font-size: 54px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	vertical-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -31px;
	margin-left: -162px;
}


.text2 {
	color: white;
	font-size: 54px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	vertical-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -31px;
	margin-left: -162px;
}



header {

	width: 100%;
	position: fixed;
	z-index: 1000;
	background-color: #2D2D2D;
}


.conteiner {
	width: 1024px;
	margin: 0 auto;
}



.head {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.logo {
	box-sizing: border-box;
	width: 49%;
	padding: 15px;

	
}

.menu {
	box-sizing: border-box;
	width: 49%;
	
}

ul li {
	display: inline-block;
}

li a {
	text-decoration: none;
	font-size: 25px;
	color: white;
	padding: 15px;
}


