html, body {
	margin:0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: white;
	list-style: none;
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

h1 {
	padding: 30px 0;

	font-size: 32px;
}

h3 {
	font-weight: 600;
}

input:focus {
	border: 2px solid #7fa9d2;
}

.wrapper {
	margin: 0 auto;
	width: 1170px;
	display:;
}

.content {
	width: 1170px;
	display: flex;
}

.leftCol {
	width: 75%;
}

.rightCol {
	width: 25%;
	padding-left: 25px;
}

/* .rightCol p,
.rightCol h2 {
	padding: 0;
	margin: 0;
} */

.page{
	box-sizing: border-box;
	/*padding: 30px 15px;*/
	/*background-color: pink;*/
	background: linear-gradient(to top, #ffe9e7, #efd5d4);
}

.row {
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: 10px;
	padding-left: 15px;
}

.name {
	width: 35%;
	box-sizing: border-box;
	/*height: 50px;*/
	/*background-color: blue;*/
}

.forms {
	width: 65%;
	/*height: 50px;*/
	/*background-color: green;*/
}

.foot {
	padding: 15px 0 30px 0;
	margin: 0;
	box-sizing: border-box;
	display: block;
	/*background-color: blue;*/
	background: linear-gradient(to top, #a8b3cf, #d7cbd9);
	width: 100%;
	text-align: center;
}

.check {
	display: flex;
	justify-content: center;
	width: 300px;
	padding: 15px;
	margin: 0 auto;
}

form {
	padding: 0;
	padding-top: 30px;
	margin: 0;
	box-shadow: 5px 0px 5px rgba(0,0,0, 0.2);
}

.padbot {
	padding-bottom: 20px;
}



.button {
	box-sizing: border-box;
	color: #a2a2a8;
	background-color: #dcdce2;
	font-size: 1.5em;
	font-weight: 600;
	/*height: 4em;*/
	/*width: 27%;*/
	border-radius: 15px;
	border:none;
	box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
	padding: 20px 30px;
}

.banner {
	width: 400px;
	background-color: #ffdede;
	padding: 20px 15px;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
}

input {
	box-shadow: inset 0 0px 2px rgba(0,0,0, 0.2);
}