@media only screen and (max-width: 479px) {


	nav .container {
		/*max-width: 479px;*/
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	nav ul {
		display: flex;
		align-items: center;
	}

	nav li {

	}

	li a {
		padding: 0 8px;
	}

	#main .container {
		/*position: static;*/
		box-sizing: content-box;
		text-align: center;
		max-height: none;
		padding: 40px 0 35px 8px;
	}

	.forma {
		display: flex;
		flex-direction: column;
		/*position: relative;*/
	}

	#price {
		position: static;
		box-sizing: content-box;
		background-color: white;
		max-height: 1790px;
	}

	#price .container {
		background-color: white;
		padding: 9px;
		position: static;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: content-box;
	}

	#price .container .branding {
		box-sizing: content-box;
		display: inline-block;
	}
	
	#price .container .gett {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: content-box;
	}

	#price .container .gett .phone {
		display: block;
		padding-left: 20px;
	}

	#price .container .gett .phone img {
		margin-top: 9px;
	}



	#taxi {
		position: static;
		margin-bottom: 0;
	}

	#skill .container {
	padding: 15px;
	}

	#skill .contant .row {
		display: flex;
		flex-direction: column;
	}

	#rent {
		padding: 0;
	}

	#rent .container {
		padding: 5px 15px 25px 15px;
		display: flex;
		flex-direction: column;
		text-align: center;

	}

	#rent .container button {
		display: inline;
		text-align: center;
	}

	#taxi .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#contacts .container {
		max-height: none;
	}

	#seo .container {
		padding: 15px;
	}

	#seo .container h2 {
		text-align: center;
	}

}